[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
python-decouple = "*"
dj-database-url = "*"
django-s3-folder-storage = "*"
psycopg2-binary = "*"
requests = "*"

[dev-packages]
pytest-django = "*"

[requires]
python_version = "3.9"
